html {
    background-color: #504B38;
}

@media (max-width: 600px) {
    .top {
        flex-direction: column;
    }

    .top img {
        width: 140px;
    }
}

.top img {
   height: 100px;
}

.top {
    display: flex;
    gap: 10p; 
    background-color: #B9B28A;
    border-radius: 20px;
    justify-content: space-around;
}

.button {
    font-size: 30px;
    color: black;
    background-color: lightgray;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
}



.info h3 {
    color: black
}

.info {
    color: #B9B28A;
    font-size: 20px;
    text-align: justify; 
}

p {
    color: #B9B28A;
    font-size: 20px;
    text-align: justify;
}

a {
   color: black}